* {
	margin: 0;
	padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px Arial, sans-serif;
	height: 100%;
	color:#555555;
}

a {

	color: #0EA2F9;
	text-decoration: none;
}

.wrapper {
	width: 100%;
	min-width: 800px;
	min-height: 600px;
}


/* Header
-----------------------------------------------------------------------------*/

.header {
	margin-bottom:20px;
}

.header h1 {
	
	line-height: 1.0em;
	font-size: 3.0em;
	color: gray;
	margin-top: 10px;
	padding-top: 20px;
	margin-left: 80px;
}

.header img {
	width: 95px;
	float:left;
}

/* Middle
-----------------------------------------------------------------------------*/
.middle {
	width: 100%;
	padding: 0 0 0;
	position: relative;
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	width: 100%;
	float: left;
	overflow: hidden;
}
.content {
	padding: 12px 64px 12px 320px;
}


/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
	float: left;
	width: 260px;
	margin-left: -100%;
	position: relative;
	background: #ffffff;
	padding: 0px 12px 12px 36px;
}


/* buttons
-----------------------------------------------------------------------------*/

.send {
  background: #3498db;
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 6px 16px 6px 16px;
  text-decoration: none;
  border: none;
  width:150px;
}

.send:hover {
  background: #45a9ec;
  text-decoration: none;
}

.send:disabled {
	background: gray;
	opacity: 0.5;

}

.clr {
  background: #6565af;
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 6px 16px 6px 16px;
  text-decoration: none;
  border: none;
  width:150px;
}

.clr:hover {
  background: #7676bf;
  text-decoration: none;
}

button:focus {
	outline:0;
}

/* ------------------ select ---------------------------- */
.select-style {
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.select-style select:focus {
    outline: none;
}

#leafletmap  {
	margin-top: 12px; 
	height: 450px;
}


.buttonspin {
	
	float: right;
    position: relative;
    left: -80px;
    top: 4px;
    width: 14px;
    height: 14px;
    background-image: url("ajax-loader.gif");
    background-repeat: no-repeat;

}


#mockspin, #mockspin2, #mockspin3, #gdeltspin {
	display: none;
}
